.houseContainer {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr 1fr;
}

.houseContainer > h2 {
    grid-column: 2 / span 1;
    background-color: rgb(191, 191, 191);
}

.houseCard {
  border: 1px solid black;
}

.images {
  grid-column: 5 / span 8;
  grid-row: 1 / span 2;
  margin: 1rem;
  display: grid;
  grid-auto-rows: auto 1fr;
  grid-template-columns: 1fr;
  border: 1px solid black;
}

.carousel {
  width: 100%;
}

.pricing {
  margin: 1rem;
  display: grid;
  grid-column: 1 / span 4;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  border: 1px solid black;
}

.pricing > div {
  margin-bottom: 0;
}

.monthly {
  grid-column: span 2;
}

.monthly > p > input {
  width: 1.5rem;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}

.monthly > p > input:focus{
    outline: none;
}

.highlightedPrice {
  text-align: center;
  padding-left: 0 !important;

}

.highlightedPrice >  h1 {
  margin-bottom: 0;
}

.highlightedPrice >  p {
  margin-top: 0;
}

.monthly > div > h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
}

.monthly > div > p {
  text-align: center;
  margin-top: 0;
}

.pricing > div {
  padding-left: 1rem;
}

.title {
  grid-column: 1 / -1;
  font-size: 20px;
  padding-left: 1rem;
  background: linear-gradient(rgb(108, 194, 68), rgb(154, 221, 124));
  align-content: center;
}

.location {
  margin: 1rem;
  display: grid;
  grid-column: 1 / span 4;
  grid-row: span 2;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  border-bottom: 2px solid black;
}

.cardMap {
  grid-column: span 2;
}

.address {
  grid-column: 1 / span 3;
  padding-left: 1rem;
  border-bottom: 1px solid rgb(210, 210, 210);
}

.interior {
  grid-column: span 8;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 2fr;
  border: 1px solid black;
  font-size: 2rem;
  text-align: center;
}

.interior > div {
  border-right: 1px solid grey;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.detail {
  margin: 0;
  padding:0;
  font-size: 0.8rem;
}

.detail + p {
  margin-top: 1rem;
}

#interiorTitle {
  padding-top: 0;
  grid-column: span 4;
  text-align: left;
}

#lastInterior {
  border: none;
}

.contact {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr 1fr;
  margin: 1rem;
}

.contact > div {
  padding-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.contact > div > input {
  border: none;
  border-bottom: 1px solid black;
  width: auto;
}

.contact > button {
  grid-column: 2 / span 2;
  margin: 1rem;
  background: linear-gradient(rgb(108, 194, 68), rgb(154, 221, 124));
  color: white;
  font-size: 1.5rem;
}

.contact > .title {
  grid-column: span 4;
}

.land {
  grid-column: span 6;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
}

.land > div {
  padding-left: 1rem;
}

@media only screen and (max-width: 1000px) {
    .houseContainer{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto 1fr auto;
      width: 100vw;
    }
    .houseCard {
      grid-column: 1 / span 1;
      grid-row: span 1;
    }
    .interior {
      font-size: 1.5rem;
    }
    .interior > div {
    }
    .contact > div > input {
      width: 38vw;
    }
    .images {
      grid-row: span 1;
    }
}

@media only screen and (max-width: 1600px) {
  .contact {
    grid-template-rows: auto 1fr 1fr 1fr;
  }
  .contact > div {
    grid-column: span 2;
  }
}
