.container {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: auto 12fr;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 10vh;
}

.map {
  grid-row: 2 / auto;
  grid-column: 1 / span 1;
  width: 100%;
}

.marker {
  width: 20px;
  height: 20px;
  transition: all .2s ease-in-out;
}

.marker:hover {
  transform: scale(1.5, 1.5);
  transform-origin: bottom;
}

.cards {
  grid-row: 2 / auto;
  background-color: rgb(232, 232, 232);
  overflow-y: scroll;
  border-left: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search {
  padding-left: 1rem;
  grid-column: 1 / span 2;
  background-color: rgb(108, 194, 68);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 5px;
}

.search > h4 {
  padding-left: 1rem;
}

.search > div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search > div > label {
  margin-right: 1rem;
}

.city {
  width: 6rem;
}

#active {
  background-color: rgb(245, 243, 196) !important;
}

.card {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  border: 1px solid;
  background-color: white;
  margin: 1rem;
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}

.card a {
  text-decoration: none !important;
}

.card:hover {
  box-shadow: 3px 3px 15px grey;
}

.card > h4 {
  border-bottom: 1px dotted black;
  grid-column: 1 / span 2;
  padding-left: 1rem;
  margin-bottom: 0;
}

.card > div > p {
  margin-left: 1rem;
}

.card > img {
  width: 100%;
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}

.card > button {
  margin: 1rem;
  border-radius: 5px;
  background-color: rgb(68, 244, 91);
  border: 1px dotted rgb(116, 238, 132);
  padding: 10px;
  grid-column: 1 / span 2;
  cursor: pointer;
}

.card > button:hover {
  background-color: rgb(116, 238, 132);
  border: 1px dotted rgb(68, 244, 91);
}

@media only screen and (max-width: 1000px) {
    .map {
      display: none;
    }
    .container {
      grid-template-columns: 1fr;
    }
    .cards {
      width: 100vw
    }
}
