nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(rgb(108, 194, 68), rgb(154, 221, 124));
  grid-template-rows: auto auto;
  text-decoration: none;
}

nav * {
  color: white;
}

.brand {
  margin-left: 1rem;
  font-family: 'PT Serif', serif;
}

nav > a:link {
  text-decoration: none;
}

nav > .toggler {
  display: none;
  align-self: center;
  text-align: right;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.links {
  display: block;
  text-align: right;
  align-self: center;
}


.links > a {
  padding: 1rem;
  color: black;
}

.links > a:link {
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  nav > .toggler {
    display: block;
  }

  .links {
    background-color: white;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 1px solid black;
    border-bottom: none;
    grid-column: span 2;
    display: grid;
    display: none;
    grid-template-rows: auto auto auto;
    text-align: center;
  }
  .links > a {
    border-bottom: 1px solid rgb(186, 186, 186);
  }
}
